/* Styles for screens less than 1170px */
@media screen and (max-width: 1170px) {
    #services {
        flex-direction: column;
    }
    .box {
        width: 90%;
        margin-bottom: 20px;
    }
}

/* Styles for screens less than 768px */
@media screen and (max-width: 768px) {
    #navbar ul {
        flex-direction: column;
        align-items: center;
    }
    
    #navbar ul li {
        margin: 10px 0;
    }

    #home h1 {
        font-size: 40px;
    }

    #home p {
        font-size: 16px;
    }

    #services-container {
        padding: 20px;
    }

    .box img {
        height: 150px;
    }

    #contact-box form {
        width: 80%;
    }

    footer {
        font-size: 14px;
    }
}

/* Styles for screens less than 480px */
@media screen and (max-width: 480px) {
    #home h1 {
        font-size: 30px;
    }

    #home p {
        font-size: 14px;
    }

    .btn {
        padding: 8px 16px;
    }

    .box img {
        height: 100px;
    }
    
    #contact-box form {
        width: 100%;
    }
}
